<div class="login-status-header">
    <div *ngIf="(this.auth.isAuthenticated$ | async) && userFullName" class="login-status-user-info">
        Welcome back {{ userFullName }}
    </div>
    <button *ngIf="(this.auth.isAuthenticated$ | async) === false" (click)="login()" class="security-btn">
        Login
    </button>
    <button *ngIf="(this.auth.isAuthenticated$ | async)" (click)="logout()" class="security-btn">
        Log out
    </button>

    <button *ngIf="(this.auth.isAuthenticated$ | async)" routerLink="/order-history" class="security-btn">
        Orders
    </button>
</div>